<div class="margin mt-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer">
    <div class="col-md-5 d-flex align-items-center">
      <img src="assets/Img/Logo.webp" alt="Spine" width="23" height="23" class="d-none d-lg-block" />
      <span class="mb-3 mb-md-0">&ensp;© 2023 Safin Inc. &ensp;<a href="https://www.burgerking.nl/">Burgerking</a></span>
    </div>

    <div class="nav col-md-4 justify-content-end list-unstyled d-none d-lg-flex">
      <span class="mb-3 mb-md-0 text-muted">
        <a href="https://www.burgerking.nl/nutrition-explorer">Voedingsinformatie</a>
        &ensp;|&ensp;
        <a href="https://www.burgerking.nl/faq">FaQ</a>
        &ensp;|&ensp;
        <a href="https://www.burgerking.nl/contact">Contact</a>
      </span>
    </div>
  </footer>
</div>
