.blobNavBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;

}
.CenteringLoginPage {
  justify-items: center;
  align-items: center;
  background-color: #E1C699;
}

.card-login-img{
  background-color: #E1C699;
}

