<app-navigation></app-navigation>
<app-toasts></app-toasts>

<nav class="navbar sticky-top mt-2">
    <div class="container d-flex justify-content-end">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-success" routerLink="/product-create">
            <i class="bi bi-clipboard2-plus-fill"></i> Creëer product</a>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="table-container">
        <table class="table table-striped">
            <thead class="sticky-top">
            <tr>
                <th class="column px-4">Naam</th>
                <th class="column px-4">Beschrijving</th>
                <th class="column px-4">Prijs</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <td class="px-4">{{ product.name }}</td>
                <td class="px-4">{{ product.description }}</td>
                <td class="px-4">{{ product.price }}</td>
                <td class="px-4 text-end">
                    <button class="btn btn-outline-warning spaceBetween">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="deleteProduct(product.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>
