<app-navigation></app-navigation>
<app-toasts></app-toasts>

<nav class="navbar mt-2">
    <div class="container d-flex justify-content-end">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-success" routerLink="/admin/promocode-create">
                <i class="bi bi-clipboard2-plus-fill"></i> Creëer Promocode
            </a>
        </div>
    </div>
</nav>

<div class="mt-3">
    <div class="table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="column px-4">Code</th>
                <th class="column px-4">Discount</th>
                <th class="column px-4">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promos of Promos">
                <td class="px-4">{{ promos.code }}</td>
                <td class="px-4">{{ promos.discount }}</td>
                <td class="px-4">{{ promos.active }}</td>
                <td class="px-4 text-end">
                    <button class="btn btn-outline-warning spaceBetween">
                        <i class="bi bi-pencil"(click)="togglePromoStatus(promos.id, promos.active)"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="deletePromo(promos.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>
