.totaalBedrag{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-space{
    margin-right: 10px;
}

.afrekenBox{
    background-color: #ffc107;
    justify-items: center;
    align-items: center;
}
