<app-toasts></app-toasts>
<app-navigation></app-navigation>

<div class="scroll-target container mt-5">
  <div class="row mt-5">
    <div class="col-md-4 mb-5" *ngFor="let product of products">
      <div class="card mb-4 rounded-2 shadow h-100">
        <img src="/assets/Img/burgerking1.jpg" class="card-img-top rounded-0" alt="Product Image">
        <div class="card-body">
          <h1 class="card-title">{{ product.name }}</h1>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price | currency }}</p>
          <button (click)="addToCart(product)" class="btn btn-warning">Toevoegen aan winkelmand</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
