.CenteringCreateProductPage {
  justify-items: center;
  align-items: center;
}

body{
  background-color: #EEEEEE;
}

.maakProduct{
  background-color: #ffc107;
  justify-items: center;
  align-items: center;
}

.spaceBetween{
  margin-right: 20px;
}
