nav{
  background-color: #E1C699;
}

.navtext {
  color: #582414;
  font-family: Roboto, sans-serif;
}

.navtext:hover{
  color: #d62300;
}

.btn{
  background: #d62300;
  color: white;
}

.btn:hover{
  background: #ae1c00;
}

.spaceBetween{
  margin-right: 3px;
}
