<app-toasts></app-toasts>
<app-navigation></app-navigation>

<div class="vh-100 d-flex CenteringRegisterPage">
  <div class="container container-top-margin">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="card shadow-lg border-0 my-5 rounded-0">
          <div class="maakAccount text-center p-4 d-flex flex-column">
            <h4 class="my-auto">Maak een account!</h4>
          </div>
          <div class="card-body">
            <div class="col-lg-12">
              <div class="p-5">
                <form [formGroup]="userRegisterForm">
                  <div class="row mb-3">
                    <div class="col">
                      <input
                        class="form-control form-control-user"
                        type="name"
                        placeholder="Full name"
                        formControlName="name"
                        name="name"
                      />
                    </div>
                    <div class="col">
                      <input
                        class="form-control form-control-user"
                        type="email"
                        placeholder="E-mail"
                        formControlName="email"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="input-group mb-3">
                  <input
                    class=" form-control form-control-user"
                    type="password"
                    placeholder="Wachtwoord"
                    formControlName="password"
                    name="password"
                  />
                  </div>
                  <app-password-strength [passwordToCheck]="userRegisterForm.controls['password'].value"
                                         (passwordStrength)="passwordValid($event)"></app-password-strength>

<!--                  <input-->
<!--                    class="mt-4 mb-3 form-control form-control-user"-->
<!--                    type="password"-->
<!--                    placeholder="Bevestig wachtwoord"-->
<!--                    formControlName="password"-->
<!--                    name="password"-->
<!--                  />-->
                  <button
                    class="btn btn-warning d-block btn-user w-100 mb-2"
                    type="submit"
                    [disabled]="!passwordIsValid"
                    (click)="createUser()">
                    <div>
                      <i></i>Maak account
                    </div>
                  </button>
                  <div class="text-center">
                    <a class="small text-decoration-none text-warning" routerLink="/login">Al een account? Klik hier om in te loggen</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
