<div class="vh-100 d-flex CenteringLoginPage">
  <div class="container container-top-margin">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="card shadow-lg border-0 my-5">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="p-5">
                <h4 class="text-center text-warning mb-4">Maak uw account</h4>
                <form>
                  <input
                    class="mb-3 form-control form-control-user"
                    type="name"
                    placeholder="Naam"
                    formControlName="name"
                    name="name"
                  />
                  <input
                    class="mb-3 form-control form-control-user"
                    type="email"
                    placeholder="E-mail adres"
                    formControlName="email"
                    name="email"
                  />
                  <input
                    class="mb-3 form-control form-control-user"
                    type="password"
                    placeholder="Wachtwoord"
                    formControlName="password"
                    name="password"
                  />
                  <input
                    class="mb-3 form-control form-control-user"
                    type="password"
                    placeholder="Herhaal wachtwoord"
                    formControlName="password"
                    name="password"
                  />
                  <button
                    class="btn btn-warning d-block btn-user w-100 mb-2"
                    type="submit">
                    <div>
                      <i class="bi bi-box-arrow-in-right"></i>Maak account
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

